.grid-container {
  padding: 20px;
  .header {
    display: flex;
    justify-content: space-between;
    width: 200px;
    font-size: 25px;
    mat-icon {
      font-size: 33px;
      width: 35px;
      cursor: pointer;
    }
  }
  .courses-container {
    display: flex;
    justify-content: center;
    mat-tab-group {
      width: 60%;
    }
  }
}
